
h1 {
font-family: "mestiza-sans", sans-serif;
font-weight: 700;
font-style: normal;
}

body {
font-family: "mestiza-sans", sans-serif;
font-weight: 400;
font-style: normal;
}

i {
font-family: "mestiza-sans", sans-serif;
font-weight: 400;
font-style: italic;
}